<div>
    <p> You are learning {{topic}} from {{course}}</p>
    <p> You are learning {{topic.toUpperCase()}} from {{89*89}}</p>
    <input type="{{typ}}">
</div>
<div>
    <input [type]="typ" placeholder="Your name">
    <input [type]="'button'" value="Okay">
    <input type="text" [style.border]="brd">
    <input type="text" [style.width.%]="20">
    <input type="text" [class.my]="true">
    <input type="text" [attr.myAttr]="'hi'">

</div>
<div>
    <input type="button" value="Okay" (click)="clcgghfjk()">
    <input type="text" [style.background-color]="bkCl" (mouseenter)="onEnter()">
</div>